/* colors */
:root {
    --one-color: #FFFFFF;
    --two-color: #20AD96;
    --three-color: #3F3A64;
    --four-color: #F5f7FA;
    --five-color: #F8F8F8;
    --six-color: #F5F1ED;
    --seven-color: #696969;
    --eight-color: #8C89A2;
}

/* titles */
h5 {
    font-size: 15px;
    text-align: center;
    color: var(--eight-color);
}

h2 {
    font-size: 25px;
    text-align: center;
    color: var(--three-color);
    font-weight: bold;
}

/* font */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--three-color);
}

/* header */
/* navbar */
header li {
    list-style: none;
    font-weight: bold;
    font-size: 12px;
    margin: 0 10px;
    cursor: pointer;
}

header nav img {
    height: 20px;
    margin-right: 200px;
}

header nav input,
header nav button {
    border: none;
    background-color: #f5f5f5;
    padding: 5px;
}

header nav button {
    color: var(--two-color);
}

header nav {
    box-shadow: 0px 5px 5px 5px #f5f5f5;
}

/* jumbotron */

.green-button {
    border: none;
    background-color: var(--two-color);
    color: var(--one-color);
    border-radius: 5px;
    font-size: 12px;
    padding: 8px 35px;
    font-weight: bold;
}

.green-button:hover {
    background-color: var(--three-color);
}

#jumbotron p:last-child {
    font-size: 12px;
}

#jumbotron a {
    color: var(--two-color);
    font-weight: bold;
}

#jumbotron .row {
    margin: 60px 0px;
}

#jumbotron .col-5 {
    margin-top: 100px;
}

/* jumbo img */

#jumbo-first {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid hsl(24deg 63% 80%);
    position: absolute;
    z-index: 4;
    top: 250px;
    left: 190px;
}

#jumbo-second-a {
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 150px;
    width: 120px;
}

#jumbo-second-b {
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 150px;
    width: 120px;
}

#jumbo-third {
    height: 450px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    right: 100px;
}

#jumbo-fourth {
    position: absolute;
    z-index: 3;
    top: 80px;
    right: 0px;
}

#jumbo-fifth {
    position: absolute;
    z-index: 2;
    bottom: -60px;
    right: 150px;
}

/* footer jumbo */
.footer-jumbo {
    margin-top: 150px;
}

/* online courses */
#online-courses {
    padding: 100px 0px;
    background-color: var(--four-color);
}

.course-price {
    color: var(--two-color);
    font-weight: bolder;
    font-size: 17px;
}

.course-description {
    font-weight: bolder;
    font-size: 17px;
}

.course-description:hover {
    color: var(--two-color);
    cursor: pointer;
}

.course-numbers {
    color: var(--eight-color);
    font-weight: bolder;
    font-size: 12px;
}

.box-img img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}