/* colors */
:root {
    --one-color: #FFFFFF;
    --two-color: #20AD96;
    --three-color: #3F3A64;
    --four-color: #F5f7FA;
    --five-color: #F8F8F8;
    --six-color: #F5F1ED;
    --seven-color: #696969;
    --eight-color: #8C89A2;
}

/* utilities */
.green-text {
    color: var(--two-color);
}

.blue-text {
    color: var(--three-color);
}

a {
    text-decoration: none;
    font-size: 12px;
}

.background_grey {
    background-color: var(--four-color);
}

.background_white {
    background-color: var(--one-color);
}

li {
    list-style: none;
}

/* titles */
h5 {
    font-size: 15px;
    color: var(--eight-color);
    font-weight: bold;
}

h2 {
    font-size: 25px;
    color: var(--three-color);
    font-weight: bold;
}

h3 {
    font-size: 20px;
    text-align: center;
    color: var(--three-color);
    font-weight: bold;
}

h4 {
    font-size: 17px;
    color: var(--three-color);
    font-weight: bold;
}

/* font */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--three-color);
}

/* header */
/* navbar */
header li {
    list-style: none;
    font-weight: bold;
    font-size: 12px;
    margin: 0 10px;
    cursor: pointer;
}

.item_nav:hover {
    color: var(--two-color);
    text-decoration: underline;
}

header nav img {
    height: 20px;
    margin-right: 200px;
}

header nav input,
header nav button {
    border: none;
    background-color: #f5f5f5;
    padding: 5px;
}

header nav button {
    color: var(--two-color);
}

header nav {
    box-shadow: 0px 5px 5px 5px #f5f5f5;
}

/* jumbotron */

.green-button {
    border: none;
    background-color: var(--two-color);
    color: var(--one-color);
    border-radius: 5px;
    font-size: 12px;
    padding: 8px 35px;
    font-weight: bold;
}

.green-button:hover {
    background-color: var(--three-color);
}

#jumbotron p:last-child {
    font-size: 12px;
}

#jumbotron .row {
    margin: 60px 0px;
}

#jumbotron .col-5 {
    margin-top: 100px;
}

#jumbotron a:hover {
    color: var(--three-color);
    cursor: pointer;
}

/* jumbo img */

#jumbo-first {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 7px solid hsl(24deg 63% 80%);
    position: absolute;
    z-index: 4;
    top: 75%;
    left: 16%;
}

#jumbo-second-a {
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 15%;
    width: 120px;
}

#jumbo-second-b {
    position: absolute;
    z-index: 2;
    top: 60%;
    left: 15%;
    width: 120px;
}

#jumbo-third {
    height: 450px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    right: 20%;
}

#jumbo-fourth {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 0px;
}

#jumbo-fifth {
    position: absolute;
    z-index: 2;
    bottom: -15%;
    right: 25%;
}

/* footer jumbo */
.footer-jumbo {
    margin-top: 150px;
}

/* online courses */
#online-courses {
    padding: 100px 0px;
    background-color: var(--four-color);
}

.course-price {
    color: var(--two-color);
    font-weight: bolder;
    font-size: 17px;
}

.course-description {
    font-weight: bolder;
    font-size: 17px;
}

.course-description:hover {
    color: var(--two-color);
    cursor: pointer;
}

.course-numbers {
    color: var(--eight-color);
    font-weight: bolder;
    font-size: 12px;
}

.box-img img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

/* smart tutoring */
#smart-tutoring {
    padding: 100px 0px;
}

#smart-tutoring a:hover {
    color: var(--two-color);
}

/* enjoy campanionship */
#enjoy-campanionship {
    padding-top: 100px;
    padding-bottom: 300px;
    border-radius: 100% 0% 100% 0% / 0% 77% 23% 100%;
}

#enjoy-campanionship a:hover {
    color: var(--three-color);
}

/* jumbo-first img absolute */
#enjoy-campanionship_first_pic {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 12px solid hsl(24deg 63% 80%);
    position: absolute;
    z-index: 4;
    top: -150px;
    left: 700px;
}

#enjoy-campanionship_second_pic {
    position: absolute;
    z-index: 3;
    top: -100px;
    box-shadow: 0px 60px 35px -40px var(--eight-color);
}

.box-img-2:hover {
    cursor: pointer;
}

#enjoy-campanionship_third_pic {
    position: absolute;
    z-index: 4;
    top: 100px;
    left: 300px;
}

#enjoy-campanionship_fourth_pic {
    position: absolute;
    z-index: 2;
    top: -25px;
    right: 670px;
}

#enjoy-campanionship_fifth_pic {
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 550px;
}

#enjoy-campanionship_sixth_pic {
    border-radius: 50%;
    background-color: hsl(39deg 62% 73%);
    border-radius: 72% 28% 62% 38% / 36% 84% 16% 64%;
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: 2;
    top: -180px;
    left: -70px;
}

/* top-learners */
#top-learners {
    padding: 100px 0px;
}

.few_opacity {
    opacity: 0.7;
}

#top-learners .col-3:hover {
    padding: 50px 0px;
    opacity: 1;
    cursor: pointer;
}


.box-leaners img {
    border-radius: 50%;
    object-fit: cover;
    width: 70px;
    height: 70px;
}

.blu-circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--eight-color);
    margin: 20px;
}

.blu-circle:hover {
    width: 10px;
    height: 10px;
    background-color: var(--three-color);
    border: 5px solid var(--three-color);
    cursor: pointer;
}

.active-circle {
    width: 15px;
    height: 15px;
    background-color: var(--three-color);
}

/* online certificate */
#online-certificate {
    padding: 50px 0px;
}

#online-certificate_first_pic {
    position: absolute;
    top: 42%;
    left: 16%;
}

#online-certificate_second_pic {
    position: absolute;
    bottom: 25%;
    right: 10%;
}

#online-certificate_third_pic {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 8px solid hsl(30deg 29% 86%);
    position: absolute;
    top: 10%;
    left: 12%;
}

/* NUMBERS */
.number_bigger {
    color: var(--two-color);
    font-size: 50px;
    font-weight: bold;
}

.box-number {
    width: 250px;
    border-left: 4px solid var(--four-color);
    border-right: 4px solid var(--four-color);
}

.small_width {
    width: 125px;
}

/* best blogs */

#best-blogs li {
    list-style-type: none;
    position: relative;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

#best-blogs li:hover {
    color: var(--two-color);
    cursor: pointer;
}

#best-blogs li::before {
    content: "\2192";
    position: absolute;
    top: 0px;
    left: -15px;
}

.card-blog {
    box-shadow: 20px 50px 50px -30px var(--eight-color);
}

/* subscribe newsletter */

#subscribe_newsletter {
    padding: 100px 0px;
}

#subscribe_newsletter_first_pic {
    position: absolute;
    bottom: 40%;
    right: 10%;
}

#subscribe_newsletter_second_pic {
    position: absolute;
    bottom: 33%;
    right: 8%;
}

#subscribe_newsletter_third_pic {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 8px solid hsl(170deg 46% 70%);
    position: absolute;
    top: 20%;
    left: 10%;
}

#subscribe_newsletter input {
    border: none;
    background-color: #f5f5f5;
    padding: 12px;
    width: 450px;
}

/* footer */
footer .col:first-child {
    padding-right: 350px;
}

footer li:hover {
    cursor: pointer;
    color: var(--two-color);
}

footer li {
    color: var(--eight-color);
}

.social li {
    font-size: 30px;
    padding: 0px 15px;
}

.initial {
    border-radius: 50%;
    padding: 15px 20px;
    border: none;
    color: var(--one-color);
    background-color: var(--two-color);
    position: absolute;
    bottom: 20%;
    right: -5%;
}


.initial:hover {
    background-color: var(--three-color);
    color: var(--one-color);
}